# Muhammad Daffa Putra Mahardika
## 2009106036

## Import

In [7]:
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate
df = pd.read_csv("bodyPerformance.csv")

#Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe
#angka, jumlah attribute yang memiliki nilai null.

In [8]:
## Informasi yang didapatkan adalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe
## angka, jumlah attribute yang memiliki nilai null.

# Jmlah record
Jumlah = len(df)
print(Jumlah)

# nama atribut
nama = list(df.columns)
print(nama)

# jumlah atribut tipe objek
jumlahObjek = len(df.dtypes[df.dtypes == 'object'])
print(jumlahObjek)

# jumlah atribut tipe angka
jumlahInt   = len(df.dtypes[df.dtypes == 'int64'])
jumlahFloat = len(df.dtypes[df.dtypes == 'float64'])
jumlahAngka = jumlahInt + jumlahFloat
print(jumlahAngka)

#jumlah atribut nilai null
df.isna().any().sum()

3000
['age', 'gender', 'height_cm', 'weight_kg', 'body fat_%', 'diastolic', 'systolic', 'gripForce', 'sit and bend forward_cm', 'sit-ups counts', 'broad jump_cm', 'class']
2
10

0

## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [9]:
## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

#Jumlah record
Jumlah = len(df)

#Nama Atribut
nama = list(df.columns)
nama = ",\n".join(nama)

# jumlah atribut tipe objek
jumlahObjek = len(df.dtypes[df.dtypes == 'object'])


# jumlah atribut tipe angka
jumlahAngka = len(df.dtypes[df.dtypes == 'int64'])

# jumlah atribut nilai null
jumlahNull = df.isna().any().sum()


kamus = {
    "Jumlah Record":[Jumlah],
    "Nama Atribut" : [nama],
    "Jumlah atribut tipe objek" : [jumlahObjek],
    "Jumlah atribut tipe angka" : [jumlahAngka],
    "Jumlah atribut nilai null"  : [jumlahNull],
    
}

tab = pd.DataFrame(kamus)
print(tabulate(tab, headers='keys', tablefmt='psql',showindex=False))

+-----------------+--------------------------+-----------------------------+-----------------------------+-----------------------------+
|   Jumlah Record | Nama Atribut             |   Jumlah atribut tipe objek |   Jumlah atribut tipe angka |   Jumlah atribut nilai null |
|-----------------+--------------------------+-----------------------------+-----------------------------+-----------------------------|
|            3000 | age,                     |                           2 |                           0 |                           0 |
|                 | gender,                  |                             |                             |                             |
|                 | height_cm,               |                             |                             |                             |
|                 | weight_kg,               |                             |                             |                             |
|                 | body fat_%,              |                             |                             |                             |
|                 | diastolic,               |                             |                             |                             |
|                 | systolic,                |                             |                             |                             |
|                 | gripForce,               |                             |                             |                             |
|                 | sit and bend forward_cm, |                             |                             |                             |
|                 | sit-ups counts,          |                             |                             |                             |
|                 | broad jump_cm,           |                             |                             |                             |
|                 | class                    |                             |                             |                             |
+-----------------+--------------------------+-----------------------------+-----------------------------+-----------------------------+

## Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [10]:
# Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.
df.describe()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,36.406667,168.577633,67.666550,23.508455,78.683567,130.383000,36.880330,15.328423,39.579667,189.496000
std,13.419289,8.348262,12.095837,7.275910,10.627129,14.592462,10.641531,8.918926,14.192914,39.806383
min,21.000000,139.800000,36.500000,3.000000,8.000000,77.000000,1.600000,-25.000000,0.000000,0.000000
25%,25.000000,162.700000,58.300000,18.400000,71.000000,120.000000,27.500000,10.675000,30.000000,162.000000
50%,32.000000,169.300000,67.790000,23.000000,79.000000,130.000000,37.800000,16.300000,41.000000,192.000000
75%,47.000000,174.800000,75.600000,28.325000,86.000000,141.000000,45.100000,21.000000,50.000000,221.000000
max,64.000000,191.600000,125.700000,78.400000,120.000000,195.000000,70.500000,213.000000,78.000000,290.000000

## Tampilkan nilai korelasi attribute bertipe angka.

In [11]:
# Tampilkan nilai korelasi attribute bertipe angka.

df.corr()

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
age,1.000000,-0.288227,-0.080943,0.235563,0.167800,0.212890,-0.167116,-0.094674,-0.542074,-0.416981
height_cm,-0.288227,1.000000,0.727001,-0.499843,0.142945,0.193476,0.731440,-0.223618,0.495999,0.672318
weight_kg,-0.080943,0.727001,1.000000,-0.068174,0.264227,0.330645,0.704545,-0.306853,0.282575,0.471886
body fat_%,0.235563,-0.499843,-0.068174,1.000000,0.067037,-0.013124,-0.524401,-0.069752,-0.603062,-0.665000
diastolic,0.167800,0.142945,0.264227,0.067037,1.000000,0.667850,0.205236,-0.076822,-0.001850,0.091526
systolic,0.212890,0.193476,0.330645,-0.013124,0.667850,1.000000,0.292977,-0.094209,0.044648,0.148288
gripForce,-0.167116,0.731440,0.704545,-0.524401,0.205236,0.292977,1.000000,-0.123944,0.579138,0.739591
sit and bend forward_cm,-0.094674,-0.223618,-0.306853,-0.069752,-0.076822,-0.094209,-0.123944,1.000000,0.173897,0.016602
sit-ups counts,-0.542074,0.495999,0.282575,-0.603062,-0.001850,0.044648,0.579138,0.173897,1.000000,0.743710
broad jump_cm,-0.416981,0.672318,0.471886,-0.665000,0.091526,0.148288,0.739591,0.016602,0.743710,1.000000

## Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [15]:
# Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

df["weight_kg"].dtypes
print(df["weight_kg"].dtypes)

df["weight_kg"] = df["weight_kg"].astype("int64")
print(df["weight_kg"].dtypes)

float64
int64

## Tampilkan 10 record pertama dari attribute bertipe angka.

In [16]:
## Tampilkan 10 record pertama dari attribute bertipe angka.

dfAngka= df.select_dtypes(include=['float64','int64'])

dfAngka.head(10)

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,27.0,172.3,75,21.3,80.0,130.0,54.9,18.4,60.0,217.0
1,25.0,165.0,55,15.7,77.0,126.0,36.4,16.3,53.0,229.0
2,31.0,179.6,78,20.1,92.0,152.0,44.8,12.0,49.0,181.0
3,32.0,174.5,71,18.4,76.0,147.0,41.4,15.2,53.0,219.0
4,28.0,173.8,67,17.1,70.0,127.0,43.5,27.1,45.0,217.0
5,36.0,165.4,55,22.0,64.0,119.0,23.8,21.0,27.0,153.0
6,42.0,164.5,63,32.2,72.0,135.0,22.7,0.8,18.0,146.0
7,33.0,174.9,77,36.9,84.0,137.0,45.9,12.3,42.0,234.0
8,54.0,166.8,67,27.6,85.0,165.0,40.4,18.6,34.0,148.0
9,28.0,185.0,84,14.4,81.0,156.0,57.9,12.1,55.0,213.0

## Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [17]:
## Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

dfAngka.to_csv("Posttest2.csv", index=False)